@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
 font-family: 'Josefin Sans', sans-serif;;
}

.hike_emi{
  position: relative;
}

.group .icon{
  position: absolute;
    top: 42px;
    right: 20px;
    color: black;
}

table, th, td {
  border: 1px solid;
}

table{
  text-align: center;
}

th, td{
  width: 100px;
}

.loan-calculator {
  font-family: "Roboto", sans-serif;
  width: 1000px;
  margin: 24px auto;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #14213d;
  overflow: hidden;
}

.loan-calculator,
.loan-calculator * {
  box-sizing: border-box;
}

.loan-calculator .top {
  background: #14213d;
  color: #fff;
  padding: 32px;
}

.loan-calculator .top h2 {
  margin-top: 0;
}

.loan-calculator form {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.loan-calculator .title {
  margin-bottom: 16px;
}

.loan-calculator form input {
  font-size: 20px;
  padding: 8px 24px;
  width: 100%;
}

.loan-calculator .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-calculator .result .left {
  width: 100%;
  padding: 8px 32px;
}

.loan-calculator .left h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.loan-calculator .result .value {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(20, 33, 61, 0.2);
}

.loan-calculator .result .value::before {
  content: "₹";
  font-size: 24px;
  font-weight: 400;
  margin-right: 6px;
  opacity: 0.4;
}

.loan-calculator .calculate-btn, .smartpay-btn {
  background: #e63946;
  color: #fff;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin: 24px 0;
}

.loan-calculator .right {
  width: 50%;
}

@media (max-width: 650px) {
  

  .loan-calculator .result .left {
    padding: 8px 10px;
}

  .loan-calculator {
    width: 90%;
    max-width: 500px;
  }

  .loan-calculator form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator .result {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 450px) {
  
  .loan-calculator .result .left {
    padding: 10px 0px;
    font-size: 11px;
  }
}
